{% extends 'base.html' %}

{% block title %}2-truncated Witt vectors over $\Bbb F_2((t))${% endblock %}

{% block content %}

<div class="container">
  <div class="col-md-8 content">
    <h1>2-truncated Witt vectors over $\Bbb F_2((t))$</h1>

    <div class="panel panel-default">
      <div class="panel-body">
      <p>Let $p \in \Bbb Z$ be prime and $R$ a commutative ring.
          For $x = (x_0, x_1, \ldots) \in R^{\Bbb N}$, denote $x^{(n)} = \sum\limits_{i = 0}^n x_i^{p^{n-i}} p^i$.
          It is known that for $S = \Bbb Z[x_0, x_1, \ldots, y_0, y_1, \ldots]$ there exist sequences of
          polynomials $\alpha, \pi \in S^{\Bbb N}$ such that
          $\alpha^{(n)} = x^{(n)} + y^{(n)}$ and $\pi^{(n)} = x^{(n)} y^{(n)}$ for $x = (x_i)$, $y = (y_i)$
          and every $n \ge 0$. In particular: $\alpha_0 = x_0 + y_0$, $\pi_0 = x_0 y_0$;
          $\alpha_1 = x_1 + y_1 - \sum\limits_{i = 1}^{p-1} {p\choose i} x_0^i y_0^{p-i}$,
          $\pi_1 = x_0^p y_1 + y_0^p x_1 + p x_1 y_1$.</p>

          <p>The $(n+1)$-truncated ring $W$ is the Cartesian product $R^{n+1}$,
              endowed with addition $a+b = (\alpha_0(a,b), \alpha_1(a,b), \ldots, \alpha_n(a,b))$
              and multiplication $ab = (\pi_0(a,b), \pi_1(a,b), \ldots, \pi_n(a,b))$,
              its unity is $(1,0,\ldots,0)$.
              For concreteness, we take $n = 1$, $p = 2$ and $R = F =$ the algebraic closure of $\Bbb F_2((t))$.</p>
          <p>Notes: if one instead takes $R = \Bbb F_p$ and does not truncate the construction (sets $n = \infty$), then $W \cong \Bbb Z_p$, the ring of $p$-adic integers.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
