<div class="col-md-12 content">
    <h2>People who have contributed!</h2>

    <p>Recorded here are the larger community contributions which have benefited the site (in no particular
        order):</p>

    <ul>
        <li>During the summer 2022, Helena Read and Guillermo Segura Picon, two students of Jeremy Rickard,
            contributed much material as part of an undergraduate research project. Their work resulted in the
            clarification of hundreds of ring-property relationships, a handful of new logic entries,
            and indirectly leading to the addition of <a href="{% url 'ring-detail' 134 %}">ring 134</a>
            (due to Pace Nielsen). The ring is significant because it resolves an open (so far as we know)
            question about whether or not <a href="{% url 'property-detail' 157 %}">UGP is left-right
                symmetric</a>.
        </li>
        <li>Pace Nielsen: Rings <a href="{% url 'ring-detail' 134 %}">134</a></li>
        <li>MatheinBoulomenos: Rings <a href="{% url 'ring-detail' 99 %}">99</a>,
            <a href="{% url 'ring-detail' 100 %}">100</a>,
            <a href="{% url 'ring-detail' 103 %}">103</a>,
            <a href="{% url 'ring-detail' 104 %}">104</a>,
            <a href="{% url 'ring-detail' 105 %}">105</a>,
            <a href="{% url 'ring-detail' 135 %}">135</a>,
            <a href="{% url 'ring-detail' 136 %}">136</a>,
            <a href="{% url 'ring-detail' 137 %}">137</a>,
            <a href="{% url 'ring-detail' 138 %}">138</a>,
            <a href="{% url 'ring-detail' 160 %}">160</a></li>
        <li>Sakurai: Rings <a href="{% url 'ring-detail' 84 %}">84</a>,<a
                href="{% url 'ring-detail' 84 %}">85</a></li>
        <li>Watson: Rings <a href="{% url 'ring-detail' 61 %}">61</a>,<a
                href="{% url 'ring-detail' 62 %}">62</a></li>
        <li>jose.simental: Rings <a href="{% url 'ring-detail' 66 %}">66</a>,<a
                href="{% url 'ring-detail' 89 %}">89</a></li>
        <li>kc_kennylau: Rings <a href="{% url 'ring-detail' 101 %}">101</a>,<a
                href="{% url 'ring-detail' 107 %}">107</a></li>
        <li>JeremyRickard: Rings <a href="{% url 'ring-detail' 120 %}">120</a>,<a
                href="{% url 'ring-detail' 121 %}">121</a></li>
        <li>bfhaha: Ring <a href="{% url 'ring-detail' 98 %}">98</a></li>
        <li>dbossaller: Ring <a href="{% url 'ring-detail' 119 %}">119</a></li>
        <li>KReiser: Ring <a href="{% url 'ring-detail' 129 %}">129</a></li>
        <li>JoseBrox: Ring <a href="{% url 'ring-detail' 126 %}">126</a></li>
        <li>loch: Ring <a href="{% url 'ring-detail' 102 %}">102</a></li>
        <li>dyunov: Rings <a href="{% url 'ring-detail' 159 %}">159</a>,
            <a href="{% url 'ring-detail' 163 %}">163</a>
        </li>


    </ul>
</div>

