<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Surreal numbers</h3>
    </div>
    <div class="panel-body">
        <p>The surreal numbers satisfy all axioms of an ordered field except that the elements of
            the surreal numbers are not a set, but a proper class. All other ordered fields appear
            within the surreal numbers.</p>
        <p>
            Knuth, Donald Ervin. "Surreal numbers: how two ex-students turned on to pure mathematics and found total
            happiness: a mathematical novelette." (1974).
        </p>
        <p>
            Reason for exclusion: the underlying collection does not form a set: it is a proper class.
        </p>
    </div>
</div>